.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.modal-header {
  background-color: #000;
}

.modal-header h3 {
  color: #fff;
  font-size: 1em;
}

.modal-body {
  background-color: #ccc;
}

.modal-inner {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1em;
}

.modal-inner strong {
  font-weight: bold;
  color: #666;
}

.modal-inner-footer {
  margin-top: 1em;
}

.modal-inner-footer i {
  color: #5a849f;
}

.target-wrapper {
  background-color: #909090;
  border: 1px solid #000;
  color: #fff;
  text-align: center;
  padding: .5em;
}

.progress-indicator > div {
  padding: 0;
}

.progress-indicator > div:nth-child(1),
.progress-indicator > div:nth-child(2) {
  padding-top: 1.25em;
}

.progress-indicator > div:nth-child(1) {
  padding-right: .5em;
}

.progress-indicator > div:nth-child(2) {
  position: relative;
  padding-bottom: 2.5em;
}

.progress-marker {
  font-weight: bold;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.progress-marker {
  width: 40px;
  margin-left: -20px;
  transition: left .6s ease;
}

.progress-marker i {
  display: block;
}

.progress-bar {
  background: linear-gradient(#6ebc60, #65a958);;
}
